/*-- DARK MODE --*/
html[data-theme=dark] div#footer ul li {
    color: #979089;
}
html[data-theme=dark] pre, 
html[data-theme=dark] .mw-code {
    color: #fff;
    background-color: #3d3d3d;
    border: 1px solid #7f7f7f;
}
html[data-theme=dark] .mw-body .external{
    background-image:url(wizard_images/link-external-small-ltr-progressive2.png);
    background-size: 9px 9px;
}
html[data-theme=dark] fieldset {
    border: 1px solid #7b6d5f;
}
html[data-theme=dark] .mw-email-not-authenticated .mw-input, 
html[data-theme=dark] .mw-email-none .mw-input {
    border: 1px solid #d33;
    background-color: #741912;
    color: #fff;
}
html[data-theme=dark] input[type="submit"], 
html[data-theme=dark] input[type="button"], 
html[data-theme=dark] input[type="reset"], 
html[data-theme=dark] input[type="file"] {
    background: #790000;
}
html[data-theme=dark] .sitedir-ltr textarea, 
html[data-theme=dark] .sitedir-ltr input {
    background: #393636;
}
html[data-theme=dark] .mw-special-Preferences #preferences {
    border: solid 1px #7f7a72;
    background-color: #413d37;
}
html[data-theme=dark] .htmlform-tip {
    color: #a7a7a7;
}
html[data-theme=dark] .mw-special-Preferences #preferences legend {
    color: #d6c399;
}
html[data-theme=dark] .mw-special-Preferences #preftoc li.selected a {
    background-color: #413d37;
    background-image: none;
    background-image: none;
}
html[data-theme=dark] .mw-special-Preferences #preftoc li {
    background-image: none;
    background-image: none;
}
html[data-theme=dark] .mw-special-Preferences #preftoc {
    border-left: 1px solid #7f7a72;
    background-image: none;
    background-image: none;
}
html[data-theme=dark] div.vectorTabs li.selected {
    background-image: linear-gradient(to bottom,rgb(74 70 66) 0,#5d5751 100%);
}
html[data-theme=dark] div.vectorTabs ul li {
    background-image: linear-gradient(to top,#766e66 0,#595654 1px,#413c33 100%);
}
html[data-theme=dark] div.vectorTabs {
    border-left: 1px solid #766e66;
}
html[data-theme=dark] div#mw-head div.vectorMenu h3,
html[data-theme=dark] div#mw-panel div.portal {
    background-image: none;
    background-image: none;
}
html[data-theme=dark] .csidebarcontent [role="navigation"] li a {
    color: #cfaf53!important;
}
html[data-theme=dark] div.vectorMenu h3 span {
    color: #f3e6b7;
}
html[data-theme=dark] div.vectorMenu div.menu {
    background-color: #4a4642;
    border: solid 1px #39322c;
}
html[data-theme=dark] .mw-ui-input {
    box-shadow: inset 0 0 0 0.1em #b09071;
}
html[data-theme=dark] #bodyContent div.mw-number-text h3 {
    color: #ffffff;
}
html[data-theme=dark] .fpbox, 
html[data-theme=dark] .fpmbox {
    color: #fff;
}
html[data-theme=dark] span#Welcome_to_the_Wizard101_Wiki div center {
    color: #fff!important;
}
html[data-theme=dark] .catlinks {
    border: 1px solid #6c6661!important;
    background-color: #655e56!important;
}
html[data-theme=dark] .fpmbox {
    border: 0px solid #524d49;
    background: transparent none;
}
html[data-theme=dark] .fpbox {
     background: #544f4a;
}
html[data-theme=dark] .fpbox:hover {
    background: transparent none;
}
html[data-theme=dark] .fpbox,
html[data-theme=dark] .fpmbox {
    color: #dbdbdb;
}
html[data-theme=dark] h1, 
html[data-theme=dark] h2, 
html[data-theme=dark] h3, 
html[data-theme=dark] h4, 
html[data-theme=dark] h5, 
html[data-theme=dark] h6 {
    color: #dfd4b5;
}
html[data-theme=dark] h1, 
html[data-theme=dark] h2 {
    border-bottom: 1px solid #6d665f;
}
html[data-theme=dark] .mw-body h1, 
html[data-theme=dark] .mw-body-content h1 {
    color: #fff;
}
html[data-theme=dark] .vector-menu-portal .vector-menu-heading {
    color: #f5db77;
    padding: 7px 10px;
    font-weight: bold;
}
html[data-theme=dark] .vector-search-box-input {
    background-color: rgb(46 46 46);
    color: #ffffff;
    border: 1px solid #0b0b0b;
    box-shadow: inset -2px 1px 12px 0px #161414;
}
html[data-theme=dark] .mw-ui-button.mw-ui-progressive:not(:disabled) {
    background-color: #660101;
    color: #fff;
    border-color: #ab2524;
}
html[data-theme=dark] .mw-parser-output a.external {
    background-image: url(wizard_images/dark-theme/link-external-small-ltr-progressive.png);
}
html[data-theme=dark] .vector-menu-portal .vector-menu-heading {
    background-image: url(wizard_images/dark-theme/w101c_headingbg.png);
    background-color: #222528;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: unset;
}
html[data-theme=dark] a {
    color: #cfaf53!important;
}
html[data-theme=dark] a.js-canvi-open-button--left {
    color: #fff!important;
}
html[data-theme=dark] .vector-user-menu-legacy #pt-anonuserpage, .vector-user-menu-legacy #pt-tmpuserpage {
    color: #ffffff;
}
html[data-theme=dark] .vector-user-menu-legacy li:first-child {
    border-left: 0px solid #4d5353;
}
html[data-theme=dark] .vector-user-menu-legacy li a{
    color: rgb(243, 230, 183)!important;
    text-shadow: 1.089px 1.677px 0px rgba(0, 0, 0, 0.004);
}
html[data-theme=dark] .vector-menu-tabs-legacy li {
    background-image: linear-gradient(to top,#5d5751 0,#5d5751 1px,#333231 100%);
}
html[data-theme=dark] .vector-menu-tabs-legacy .selected {
    background: #5d5751;
    background-image: linear-gradient(to top,#5d5751 0,#5d5751 1px,#4a4642 100%);
    box-shadow: inset 0 -1px 0 #cfaf53!important;
}
html[data-theme=dark] .vector-menu-tabs, 
html[data-theme=dark] .vector-menu-tabs a, 
html[data-theme=dark] #mw-head .vector-menu-dropdown .vector-menu-heading {
    background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#dbc070 100%);
}
html[data-theme=dark]  .vector-user-menu-legacy li {
    border-right: 1px solid #11161a;
    border-left: 1px solid #4d5353;
}
html[data-theme=dark] .mw-body, 
html[data-theme=dark] .parsoid-body {
    background-color: #5d5751;
    color: #ffffff;
}
html[data-theme=dark] .mw-body {
    border: 1px solid #766e66;
}
html[data-theme=dark] .vector-menu-tabs, 
html[data-theme=dark] .vector-menu-tabs a, 
html[data-theme=dark] #mw-head .vector-menu-dropdown .vector-menu-heading {
    background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#766e66 100%);
}

html[data-theme=dark] .headL {
    background-image: url(wizard_images/dark-theme/w101c_headL.png);
}
html[data-theme=dark] .headC {
    background-image: url(wizard_images/dark-theme/w101c_headbg.png);
}
html[data-theme=dark] .headR {
    background-image: url(wizard_images/dark-theme/w101c_headR.png);
}
html[data-theme=dark] .navL {
    background-image: url(wizard_images/dark-theme/w101c_navL.png);
}
html[data-theme=dark] .navC {
    background-image: url(wizard_images/dark-theme/w101c_navbg.png);
}
html[data-theme=dark] .navR {
    background-image: url(wizard_images/dark-theme/w101c_navR.png);
}
html[data-theme=dark] .contentL {
    background-image: url(wizard_images/dark-theme/w101c_contentL.png);
}
html[data-theme=dark] .contentC {
    background-color: #4a4642;
}
html[data-theme=dark] .contentR {
    background-image: url(wizard_images/dark-theme/w101c_contentR.png);
}
html[data-theme=dark] .footL {
    background-image: url(wizard_images/dark-theme/w101c_footL.png);

}
html[data-theme=dark] .footC {
    background-image: url(wizard_images/dark-theme/w101c_footbg.png);
}
html[data-theme=dark] .footR {
    background-image: url(wizard_images/dark-theme/w101c_footR.png);

}
html[data-theme=dark] .mw-rcfilters-ui-filterTagMultiselectWidget-wrapper-content-title {
    color: #ffffff;
}
html[data-theme=dark] .mw-rcfilters-ui-filterTagMultiselectWidget.oo-ui-widget-enabled .oo-ui-tagMultiselectWidget-handle {
    background-color: #3e3c3c;
    border: 1px solid #825f5f;
}
html[data-theme=dark] .mw-rcfilters-ui-filterTagMultiselectWidget-views-select-widget.oo-ui-widget {
    border: 1px solid #825f5f;
    background: #3e3c3c;
}
html[data-theme=dark] .oo-ui-textInputWidget .oo-ui-inputWidget-input {
    background-color: #2d2d2d;
    color: #fff;
    border: 1px solid #825f5f;
}
html[data-theme=dark] .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined {
    background-color: #3e3c3c;
}

html[data-theme=dark] .oo-ui-tagItemWidget.oo-ui-widget-enabled {
    color: #c7af4c;
    transition: background-color 100ms,color 100ms,border-color 100ms,box-shadow 100ms;
}
html[data-theme=dark] .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined .oo-ui-tagItemWidget.oo-ui-widget-enabled {
    background-color: #653a3a;
    border: 1px solid #b86b6b;
}
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
    color: #ffffff!important;
    border-color: #bc2323;
    background-image: none;
    background-color: #660000;
}
html[data-theme=dark] .oo-ui-menuSelectWidget {
    background-color: #1d1d1e;
    border: 1px solid #825f5f;
}
html[data-theme=dark] .oo-ui-dropdownInputWidget select {
    border: 1px solid #825f5f;
}
html[data-theme=dark] .oo-ui-dropdownWidget-handle {
    border: 1px solid #825f5f;
}
html[data-theme=dark] .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle {
    background-color: #3e3c3c;
    color: #ffffff;
}
html[data-theme=dark] .mw-rcfilters-ui-itemMenuOptionWidget-label-desc {
    color: #bdbdbd;
}
html[data-theme=dark] .mw-rcfilters-ui-itemMenuOptionWidget:not(:last-child):not(.mw-rcfilters-ui-itemMenuOptionWidget-identifier-talk) {
    border-bottom: 1px solid #825f5f;
}
html[data-theme=dark] .mw-rcfilters-ui-itemMenuOptionWidget-label-title {
    color: #ffffff;
}
html[data-theme=dark] .mw-rcfilters-ui-filterMenuSectionOptionWidget-header-title.oo-ui-labelElement-label {
    color: #dcc994;
}
html[data-theme=dark] .mw-rcfilters-ui-filterMenuSectionOptionWidget {
    background-color: #825f5f;
}
html[data-theme=dark] .mw-rcfilters-ui-itemMenuOptionWidget.oo-ui-optionWidget-selected {
    background-color: #4b3636;
}
html[data-theme=dark] .mw-rcfilters-ui-filterMenuHeaderWidget-header {
    border-bottom: 1px solid #585858;
    background-color: #1d1d1e;
}
html[data-theme=dark] .mw-rcfilters-ui-itemMenuOptionWidget:hover {
    background-color: #48484d;
}

html[data-theme=dark] .mw-rcfilters-ui-tagItemWidget.oo-ui-flaggedElement-muted.oo-ui-tagItemWidget.oo-ui-widget-enabled .oo-ui-labelElement-label {
    color: #ffffff;
}

html[data-theme=dark] .mw-footer li {
    color: #838383;
}
html[data-theme=dark] .mw-ui-button.mw-ui-progressive:not(:disabled) {
    background-color: #531c1c;
    color: #fff;
    border-color: #7a0000;
}
html[data-theme=dark] .mw-ui-input:hover {
    border-color: #d87979;
}
html[data-theme=dark] .mw-ui-input {
    border: 1px solid #958b82;
}
html[data-theme=dark] .mw-ui-button.mw-ui-progressive:not(:disabled):hover {
    background-color: #952020;
    border-color: #dd3333;
}
html[data-theme=dark] #mw-createaccount-join {
    background-color: #531c1c;
}
html[data-theme=dark] .mw-ui-button {
    border: 1px solid #7a0000;
}
html[data-theme=dark] #mw-createaccount-join:active {
    background-color: #eff3fa;
    color: #fff;
    border-color: #b32424;
}
html[data-theme=dark] #mw-createaccount-join:hover {
    background-color: #202122;
    border-color: #b32424;
}
html[data-theme=dark] .oo-ui-popupWidget-popup {
    background-color: #1d1d1e;
    border: 1px solid #825f5f;
}

html[data-theme=dark] .oo-ui-toolbar-bar {
    background-color: #332e29;
    color: #ffffff;
}
html[data-theme=dark] .oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor:after {
    bottom: -10px;
    left: -8px;
    border-bottom-color: #1d1d1e;
    border-width: 9px;
}
html[data-theme=dark] .oo-ui-barToolGroup-tools.oo-ui-toolGroup-enabled-tools .oo-ui-tool.oo-ui-widget-disabled.oo-ui-flaggedElement-primary > .oo-ui-tool-link, 
html[data-theme=dark] .oo-ui-barToolGroup-tools.oo-ui-toolGroup-disabled-tools .oo-ui-tool.oo-ui-flaggedElement-primary > .oo-ui-tool-link {
    background-color: #810f0f;
    border-color: #c82825;
}
html[data-theme=dark] .oo-ui-popupToolGroup-tools {
    background-color: #3f3d3d;
    border: 1px solid #2f2f2f;
}
html[data-theme=dark] .oo-ui-listToolGroup-tools .oo-ui-tool-active.oo-ui-widget-enabled .oo-ui-tool-link .oo-ui-tool-title {
    color: #2f2f2f;
}
html[data-theme=dark] .oo-ui-tool.oo-ui-widget-enabled > .oo-ui-tool-link:active, 
html[data-theme=dark] .oo-ui-tool.oo-ui-widget-enabled.oo-ui-tool-active > .oo-ui-tool-link, 
html[data-theme=dark] .oo-ui-tool.oo-ui-widget-enabled.oo-ui-popupToolGroup-active > .oo-ui-tool-link {
    background-color: #2f2f2f;
}
html[data-theme=dark] .oo-ui-toolbar-position-top > .oo-ui-toolbar-bar {
    border-bottom: 1px solid #332e29!important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}
html[data-theme=dark] .oo-ui-tool.oo-ui-widget-enabled > .oo-ui-tool-link:hover {
    background-color: #2f2f2f;
}
html[data-theme=dark] .oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-disabled .oo-ui-tool-title {
    color: #b3b3b3;
}
html[data-theme=dark] .oo-ui-popupToolGroup-tools .oo-ui-tool-link .oo-ui-tool-accel {
    color: #ffffff;
}

html[data-theme=dark] .oo-ui-popupToolGroup.oo-ui-popupToolGroup-active > .oo-ui-popupToolGroup-handle {
    background-color: #2f2f2f;
    color: #fff;
}
html[data-theme=dark] .oo-ui-menuToolGroup {
    border-left: 1px solid #65594d;
    border-right: 1px solid #65594d;
}
html[data-theme=dark] .oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:active {
    background-color: #80766c;
}

html[data-theme=dark] .oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:hover {
    background-color: #80766c;
}
html[data-theme=dark] .oo-ui-toolbar-actions .oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:active {
    border-right-color: #b3a598;
}

html[data-theme=dark] .oo-ui-toolbar-actions .oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:hover {
    border-right-color: #b3a598;
}
html[data-theme=dark]  .oo-ui-toolbar-position-top > .oo-ui-toolbar-bar {
    border-bottom: 1px solid #b3a395;
}
html[data-theme=dark] .mw-rcfilters-ui-tagItemWidget-popup-content {
    padding: 0.5em;
    color: #ffffff;
}
html[data-theme=dark] .oo-ui-tagItemWidget.oo-ui-widget-enabled .oo-ui-buttonElement-button:hover {
    background-color: #020202;
}
html[data-theme=dark] .oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor:before {
    border-top-color: #292929;
}
html[data-theme=dark] .oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor:after {
    border-top-color: #292929;
}
html[data-theme=dark] .mw-rcfilters-ui-filterMenuHeaderWidget-title {
    color: #ffffff;
}
html[data-theme=dark] .wikitable {
    background-color: #3c3a38;
    color: #ffffff;
    margin: 1em 0;
    border: 1px solid #4f4f4f;
    border-collapse: collapse;
}
html[data-theme=dark] .wikitable > tr > th, 
html[data-theme=dark] .wikitable > tr > td,
html[data-theme=dark] .wikitable > * > tr > th, 
html[data-theme=dark] .wikitable > * > tr > td {
    border: 1px solid #4f4f4f;
    padding: 0.2em 0.4em;
}
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
    color: #fff;
    background-color: #6a0000;
    border-color: #c01b1b;
}
html[data-theme=dark] .mw-plusminus-pos {
    color: #48d448;
}
html[data-theme=dark] .mw-widget-dateInputWidget-handle {
    background-color: #3e3c3c;
    color: #fff;
    border: 1px solid #825f5f;
}
html[data-theme=dark] .mw-widget-dateInputWidget-empty .mw-widget-dateInputWidget-handle {
    color: #cecece;
    outline: 0;
}
html[data-theme=dark] .mw-widget-dateInputWidget-calendar {
    background-color: #a4a4a4;
}
html[data-theme=dark] .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
    color: #fff!important;
}
html[data-theme=dark] .mw-widget-calendarWidget-item:hover {
    background-color: #b32424;
    color: #fff;
}
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover {
    background-color: #541919;
    border-color: #aa1a1a;
}
html[data-theme=dark] .oo-ui-textInputWidget.oo-ui-widget-enabled:hover .oo-ui-inputWidget-input:focus {
    border-color: #ffcccc;
}
html[data-theme=dark] .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus {
    border-color: #d33;
    box-shadow: inset 0 0 0 1px #724f4f;
}
html[data-theme=dark] .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
    color: #ffffff;
    border-bottom: 1px solid #312f2f;
}
html[data-theme=dark] .oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted,
html[data-theme=dark] .oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
    background-color: #3f3030;
    color: #fff;
}
html[data-theme=dark] .oo-ui-dropdownInputWidget.oo-ui-widget-enabled {
    background-color: #5d5751;
}
html[data-theme=dark] .oo-ui-panelLayout-framed {
    border: 1px solid #928577;
}
html[data-theme=dark] .mw-search-profile-tabs {
    background-color: #232628;
    border: 1px solid #c8a540;
}
html[data-theme=dark]  #mw-searchoptions {
    background-color: #202121;
    border: 1px solid #c8a540;
}
html[data-theme=dark] #mw-search-togglebox input {
    background: #635d5d;
}
html[data-theme=dark] #mw-searchoptions .divider {
    border-bottom: 1px solid #454545;
}
html[data-theme=dark] .mw-message-box-error {
    background-color: #442e2d;
    border-color: #d33;
}
html[data-theme=dark] .mw-widget-calendarWidget-day-today {
    box-shadow: inset 0 0 0 1px #ff4242;
    background: #fff;
}
html[data-theme=dark] .mw-rcfilters-ui-datePopupWidget {
    border-top: 1px solid #363636;
}
html[data-theme=dark] .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span, 
html[data-theme=dark] .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate + span {
    background-color: #8d2e15;
    border-color: #c75555;
}
html[data-theme=dark] .mw-ui-input {
    background-color: #2d2d2d;
}
html[data-theme=dark] .mw-number-text {
    color: #ffffff;
}
html[data-theme=dark] .mw-body-content .mw-number-text h3 {
    color: #ffffff;
}
html[data-theme=dark] .ve-activated .vector-menu-tabs .selected {
    box-shadow: inset 0 -1px 0 #cfaf53!important;
}
html[data-theme=dark] .ve-ui-desktopContext .ve-ui-linkContextItem .ve-ui-linkContextItem-label {
    border-top: 1px solid #504b47;
}
html[data-theme=dark] .ve-ce-linkAnnotation.ve-ce-annotation-active {
    box-shadow: 0 0 0 1px #ff4242;
    background-color: #1d1d1d;
}
html[data-theme=dark] .editOptions {
    background-color: #4b4641;
    color: #ffffff;
    border: 1px solid #786a5c;
}
html[data-theme=dark] .mw-message-box-warning {
    background-color: #6d5138;
    border-color: #e2ac09;
}
html[data-theme=dark] .oo-ui-popupToolGroup-tools .oo-ui-tool-active.oo-ui-widget-enabled .oo-ui-tool-link .oo-ui-tool-title {
    color: #fff;
}
html[data-theme=dark] .mw-message-box {color: #fffbfb}
html[data-theme=dark] .oo-ui-tool.oo-ui-widget-enabled .oo-ui-tool-link {
    transition: background-color 0ms;
}
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active, 
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button,
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive.oo-ui-buttonElement-active > .oo-ui-buttonElement-button, 
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive.oo-ui-popupToolGroup-active > .oo-ui-buttonElement-button {
    background-color: #351818;
    color: #ffffff;
    border-color: #d33;
}
html[data-theme=dark] .ve-init-mw-progressBarWidget-bar {
    background-color: #d33;
}
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active, 
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button,
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive.oo-ui-buttonElement-active > .oo-ui-buttonElement-button, 
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive.oo-ui-popupToolGroup-active > .oo-ui-buttonElement-button {
    background-color: #341b1b;
    color: #fff;
    border-color: #b32424;
}
html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover {
    background-color: #452222;
    border-color: #cd2c2c;
}
html[data-theme=dark] #mw-indicator-mw-helplink a {
    background-image: url(wizard_images/dark-theme/helpNotice.png)!important;
}
html[data-theme=dark] .oo-ui-indicator-clear,
html[data-theme=dark] .oo-ui-icon-close, 
html[data-theme=dark] .mw-ui-icon-close:before {
    background-image: url(wizard_images/dark-theme/close.png)!important;
}

html[data-theme=dark] .oo-ui-icon-menu, 
html[data-theme=dark] .mw-ui-icon-menu:before {
    background-image: url(wizard_images/dark-theme/menu.png)!important;
}
html[data-theme=dark] .oo-ui-indicator-down {
    background-image: url(wizard_images/dark-theme/down.png)!important;

}
html[data-theme=dark] .oo-ui-icon-trash, 
html[data-theme=dark] .mw-ui-icon-trash:before{
    background-image: url(wizard_images/dark-theme/trash.png)!important;
}
html[data-theme=dark] .oo-ui-icon-tag, 
html[data-theme=dark] .mw-ui-icon-tag:before{
    background-image: url(wizard_images/dark-theme/tag.png)!important;
}
html[data-theme=dark] .oo-ui-icon-article, 
html[data-theme=dark] .mw-ui-icon-article:before{
    background-image: url(wizard_images/dark-theme/article.png)!important;
}
html[data-theme=dark] .oo-ui-icon-settings, 
html[data-theme=dark] .mw-ui-icon-settings:before{
    background-image: url(wizard_images/dark-theme/settings.png)!important;
}
html[data-theme=dark] .oo-ui-icon-play, 
html[data-theme=dark] .mw-ui-icon-play:before{
    background-image: url(wizard_images/dark-theme/play.png)!important;
}
html[data-theme=dark] .oo-ui-icon-search, 
html[data-theme=dark] .mw-ui-icon-search:before,
html[data-theme=dark] .searchButton[name='go']{
    background-image: url(wizard_images/dark-theme/search.png)!important;
}
html[data-theme=dark] .oo-ui-icon-highlight, 
html[data-theme=dark] .mw-ui-icon-highlight:before{
    background-image: url(wizard_images/dark-theme/highlight.png)!important;
}
html[data-theme=dark] .oo-ui-icon-collapse, 
html[data-theme=dark] .mw-ui-icon-collapse:before{
    background-image: url(wizard_images/dark-theme/collapse.png)!important;
}
html[data-theme=dark] .oo-ui-icon-expand, 
html[data-theme=dark] .mw-ui-icon-expand:before{
    background-image: url(wizard_images/dark-theme/expand.png)!important;
}
html[data-theme=dark] .headerR {
    background-image: url(wizard_images/dark-theme/w101c_headerimage.png);
}
html[data-theme=dark] .mw-wiki-logo {
    background-image: url(wizard_images/dark-theme/w101c_logo_sm2.png)!important;
}
html[data-theme=dark] body {
    background-color: #292929!important;
    background-image: url(wizard_images/dark-theme/w101c_bg.jpg)!important;
}
html[data-theme=dark] .oo-ui-icon-specialCharacter, 
html[data-theme=dark] .mw-ui-icon-specialCharacter:before {
    background-image: url(wizard_images/dark-theme/specialCharacter.png)!important;
}
html[data-theme=dark] .oo-ui-icon-link, 
html[data-theme=dark] .mw-ui-icon-link:before {
    background-image: url(wizard_images/dark-theme/link.png)!important;
}
html[data-theme=dark] .oo-ui-icon-textStyle, 
html[data-theme=dark] .mw-ui-icon-textStyle:before {
    background-image: url(wizard_images/dark-theme/textStyle.png)!important;
}
html[data-theme=dark] .oo-ui-icon-edit, 
html[data-theme=dark] .mw-ui-icon-edit:before {
    background-image: url(wizard_images/dark-theme/edit.png)!important;
}
html[data-theme=dark] .oo-ui-icon-help, 
html[data-theme=dark] .mw-ui-icon-help:before {
    background-image: url(wizard_images/dark-theme/help.png)!important;
}
html[data-theme=dark] .oo-ui-icon-check, 
html[data-theme=dark] .mw-ui-icon-check:before{
    background-image: url(wizard_images/dark-theme/check.png)!important;
}
html[data-theme=dark] .oo-ui-icon-listBullet, 
html[data-theme=dark] .mw-ui-icon-listBullet:before{
    background-image: url(wizard_images/dark-theme/listBullet.png)!important;
}

html[data-theme=dark] .oo-ui-icon-bold, 
html[data-theme=dark] .mw-ui-icon-bold:before {
    background-image: url(wizard_images/dark-theme/bold.png)!important;
}
html[data-theme=dark] .oo-ui-icon-italic, 
html[data-theme=dark] .mw-ui-icon-italic:before {
    background-image: url(wizard_images/dark-theme/italic.png)!important;
}
html[data-theme=dark] .oo-ui-icon-image, 
html[data-theme=dark] .mw-ui-icon-image:before {
    background-image: url(wizard_images/dark-theme/image.png)!important;
}
html[data-theme=dark] .oo-ui-icon-puzzle, 
html[data-theme=dark] .mw-ui-icon-puzzle:before {
    background-image: url(wizard_images/dark-theme/puzzle.png)!important;
}
html[data-theme=dark] .oo-ui-icon-table, 
html[data-theme=dark] .mw-ui-icon-table:before {
    background-image: url(wizard_images/dark-theme/table.png)!important;
}

html[data-theme=dark] .oo-ui-icon-listNumbered, 
html[data-theme=dark] .mw-ui-icon-listNumbered:before {
    background-image: url(wizard_images/dark-theme/listNumbered.png)!important;
}
html[data-theme=dark] .oo-ui-icon-outdent, 
html[data-theme=dark] .mw-ui-icon-outdent:before {
    background-image: url(wizard_images/dark-theme/outdent.png)!important;
}
html[data-theme=dark] .oo-ui-icon-indent, 
html[data-theme=dark] .mw-ui-icon-indent:before {
    background-image: url(wizard_images/dark-theme/indent.png)!important;
}
html[data-theme=dark] .oo-ui-icon-redo, 
html[data-theme=dark] .mw-ui-icon-redo:before{
    background-image: url(wizard_images/dark-theme/redo.png)!important;
}
html[data-theme=dark]  .oo-ui-icon-undo, 
html[data-theme=dark]  .mw-ui-icon-undo:before{
    background-image: url(wizard_images/dark-theme/undo.png)!important;
}
html[data-theme=dark] .oo-ui-icon-window, 
html[data-theme=dark] .mw-ui-icon-window:before{
    background-image: url(wizard_images/dark-theme/window.png)!important;
}
html[data-theme=dark] .oo-ui-icon-pageSettings, 
html[data-theme=dark] .mw-ui-icon-pageSettings:before{
    background-image: url(wizard_images/dark-theme/pageSettings.png)!important;
}
html[data-theme=dark] .oo-ui-icon-textLanguage, 
html[data-theme=dark] .mw-ui-icon-textLanguage:before{
    background-image: url(wizard_images/dark-theme/textLanguage.png)!important;
}
html[data-theme=dark] .oo-ui-icon-textDirRTL, 
html[data-theme=dark] .mw-ui-icon-textDirRTL:before{
    background-image: url(wizard_images/dark-theme/textDirRTL.png)!important;
}
html[data-theme=dark] .oo-ui-icon-articleSearch, 
html[data-theme=dark] .mw-ui-icon-articleSearch:before{
    background-image: url(wizard_images/dark-theme/articleSearch.png)!important;
}
html[data-theme=dark] .oo-ui-icon-signature, 
html[data-theme=dark] .mw-ui-icon-signature:before{
    background-image: url(wizard_images/dark-theme/signature.png)!important;
}
html[data-theme=dark] .oo-ui-icon-keyboard, 
html[data-theme=dark] .mw-ui-icon-keyboard:before{
    background-image: url(wizard_images/dark-theme/keyboard.png)!important;
}
html[data-theme=dark] .oo-ui-icon-speechBubble, 
html[data-theme=dark] .mw-ui-icon-speechBubble:before{
    background-image: url(wizard_images/dark-theme/speechBubble.png)!important;
}
html[data-theme=dark] .oo-ui-icon-wikiText, 
html[data-theme=dark] .mw-ui-icon-wikiText:before{
    background-image: url(wizard_images/dark-theme/wikiText.png)!important;
}
html[data-theme=dark] .oo-ui-icon-imageGallery, 
html[data-theme=dark] .mw-ui-icon-imageGallery:before{
    background-image: url(wizard_images/dark-theme/imageGallery.png)!important;
}
html[data-theme=dark] .oo-ui-icon-notice, 
html[data-theme=dark] .mw-ui-icon-notice:before{
    background-image: url(wizard_images/dark-theme/notice.png)!important;
}
html[data-theme=dark] .oo-ui-icon-quotes, 
html[data-theme=dark] .mw-ui-icon-quotes:before{
    background-image: url(wizard_images/dark-theme/quotes.png)!important;
}
html[data-theme=dark] .oo-ui-icon-cancel, 
html[data-theme=dark] .mw-ui-icon-cancel:before{
    background-image: url(wizard_images/dark-theme/cancel.png)!important;
}

html[data-theme=dark] .oo-ui-icon-alert, 
html[data-theme=dark] .mw-ui-icon-alert:before {
    background-image: url(wizard_images/dark-theme/alert.png)!important;
}
html[data-theme=dark] .oo-ui-indicator-required{
    background-image: url(wizard_images/dark-theme/required.png)!important;
}
html[data-theme=dark] .vector-menu-dropdown .vector-menu-heading:after {
    background: url(wizard_images/dark-theme/down.png) 0 0 no-repeat;
}
html[data-theme=dark] .canvi-navbar {
    background: #27241f;
  }
html[data-theme=dark] .canvi-user-info {
    background: #3a0309;
  }

html[data-theme=dark] .vector-menu-dropdown .vector-menu-heading {
    color: #a7a7a7;
  }
html[data-theme=dark] .mw-prefs-buttons {
    background-color: #5d5751;
    border-top: 1px solid #928577;
  }
  html[data-theme=dark] .oo-ui-fieldLayout-disabled > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header > .oo-ui-labelElement-label {
    color: #e3e3e3;
}
html[data-theme=dark] .oo-ui-checkboxInputWidget [type='checkbox']:disabled + span {
    background-color: #45423f;
    border-color: #6a625a;
}
html[data-theme=dark] .oo-ui-tabSelectWidget-framed {
    background-color: #736a61;
}
html[data-theme=dark] .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected {
    background-color: #5d5751;
    color: #fff;
}
html[data-theme=dark] .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected .oo-ui-labelElement-label {
    border-bottom-color: #5d5751;
}
html[data-theme=dark] .oo-ui-tabOptionWidget {
    color: #d7c7b6;
}
html[data-theme=dark] .oo-ui-checkboxInputWidget [type='checkbox'] + span {
    background-color: #45423f;
    border-color: #6a625a;
} 
html[data-theme=dark] .oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:hover + span {
    border-color: #7b0000;
}
html[data-theme=dark] .oo-ui-radioInputWidget [type='radio'] + span {
    background-color: #45423f;
}
html[data-theme=dark] .oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:checked + span {
    border-color: #ca3735;
}

html[data-theme=dark] .oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
    background-color: #620000;
    color: #fff;
}
html[data-theme=dark] .vector-menu-dropdown .vector-menu-content {
    background-color: #46423e;
    border: 1px solid #69625c;
}
/* html[data-theme=dark]  .infobox-table-heading   {
        color: #fff !important;
}
*/		
html[data-theme=dark] .infobox-table a.new {
    color: #e83635!important;
}
/* html[data-theme=dark] td.infobox-table {
    background: #4a4a4a!important;
    border: 1px solid #676767!important;
    color: #bfbfbf;
}
*/
/* html[data-theme=dark]  .infobox-table-heading {
    background-color: #6d0000!important;
}
*/
/*html[data-theme=dark]  .drop-tag {
    color: #fff!important;
}
*/
/* html[data-theme=dark] .infobox-plain-heading {
	color: #a59274!important;
}
*/
html[data-theme=dark] td.infobox-accent-bordertop {
    color: #fff!important;
    background: #756c63!important;
    border-top: 1px solid #927d68!important;
}
html[data-theme=dark] .infobox-accent-bordertop table {
    color: #fff!important;
}
/* html[data-theme=dark]  hr.infobox-hr {
    background: #927d68!important;
}
*/
html[data-theme=dark]  li.gallerybox div.thumb {
	border: 1px solid #555555!important;
	background-color: #4e4545!important;
}	
/* 8-23-23 Redlink Fix */
/*html[data-theme=dark] .infobox-plain-heading {
    color: #544b43!important;
}
*/
    html[data-theme=dark] .infobox-table-heading {
        color: #fff !important;
        background-image: url(wizard_images/w101c_headingbg.png)!important;
        background-color: #741912!important;
        background-repeat: repeat-x!important;
    }
    html[data-theme=dark] td.infobox-table {
        border: 1px solid #666!important;
        background: #4a4642!important;
        color: #a6a6a6!important;
    }
    html[data-theme=dark] .drop-tag {
        display: inline;
        padding-left: 5px;
        font-size: 0.85em;
        color: #fff;
    }
    html[data-theme=dark] .infobox-accent-bordertop {
        background: #686460!important;
        border-top: 1px solid #666!important;
    }
    html[data-theme=dark] .infobox-accent-bordertop {
        background: rgba(146, 95, 0, 0.1);
        border-top: 1px solid #cd8f52;
    }
    html[data-theme=dark] hr.infobox-hr {
        background: #746d66!important;
    }